{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Tous les Article</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre de l'article</th>
                <th>Contenu de l'article</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>
                    <a href="{{ path('app_admin_article_show', {'id': article.id}) }}">voir</a>
                    <a href="{{ path('app_admin_article_edit', {'id': article.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">aucun article trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_article_new') }}">Créer un nouvel article</a>
{% endblock %}
