{% extends 'base.html.twig' %}

{% block title %}Tous les produits{% endblock %}

{% block body %}
    <h1>Tous les produits</h1>
    <a href="{{ path('app_admin_produit_new') }}">Créer un nouveau produit</a>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Titre du produit</th>
                <th>Extrait</th>
                <th>Image</th>
                <th>Catégorie du produit</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                {# <td>{{ produit.id }}</td> #}
                <td>{{ produit.title }}</td>
                <td>{{ produit.introduction | slice(0, 235) }}...</td>
                <td>
                    <div style="width: 9rem;">           
                        <img src="{{ asset('imagesProduit/' ~ produit.images[0].name) }}" class="card-img-top"  alt="">
                    </div>
                </td>
                <td>{{ produit.categorieProduit }}</td>
                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}"><i class="fa-solid fa-eye text-success"></i></a>
                    <a href="{{ path('app_admin_produit_edit', {'id': produit.id}) }}"><i class="fa-solid fa-pen text-danger"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
