{% extends 'base.html.twig' %}

{% block title %}CategorieProduit{% endblock %}

{% block body %}
    <h1>{{ categorie_produit.name }}</h1>

    

    <a href="{{ path('app_categorie_produit_index') }}">Retourner à la liste des catégories</a>

    <div class= "mt-5">

    <table class="table">
        <thead>
            <tr>
                <th>Nom du produit</th>
                <th>Contenu de l'article</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.title }}</td>
                <td>{{ produit.content }}</td>
                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}">consulter</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">aucun article trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

 
{% endblock %}
