 <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_home') }}">Saint Seiya Infinite</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{path('app_categorie_article_index')}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            La saga
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{path('app_categorie_article_show', {id:1})}}">Hypermythe</a></li>
            <li><a class="dropdown-item" href="{{path('app_categorie_article_show', {id:2})}}">Personnages</a></li>
            
          </ul>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_categorie_article_show', {id:3})}}">Actualités</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{path('app_categorie_produit_index')}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Boutique
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{path('app_categorie_produit_show', {id:1})}}">Myth Cloth</a></li>
            <li><a class="dropdown-item" href="{{path('app_categorie_produit_show', {id:2})}}">Mangas</a></li>
            <li><a class="dropdown-item" href="{{path('app_categorie_produit_show', {id:3})}}">Animés</a></li>
          </ul>
        </li>
        
        
        <li class="nav-item">
          <a class="nav-link" href="#">Mes favoris</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mon compte
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{path('app_login')}}">Connexion</a></li>
            <li><a class="dropdown-item" href="#">Deconnexion</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{path('app_register')}}">Inscription</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Administration
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{path('app_admin_article_index')}}">Articles</a></li>
            <li><a class="dropdown-item" href="{{path('app_admin_produit_index')}}">Produits</a></li>
            <li><a class="dropdown-item" href="{{path('app_admin_categorie_article_index')}}">Categories d'articles</a></li>
            <li><a class="dropdown-item" href="{{path('app_admin_categorie_produit_index')}}">Categories de produits</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{path('app_admin_user_index')}}">Utilisateurs</a></li>
            
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search" action="{{path('app_recherche')}}" method="GET">
        <input class="form-control me-2" name="search" type="search" placeholder="Tapez votre recherche..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Rechercher</button>
      </form>
    </div>
  </div>
</nav>