{% extends 'base.html.twig' %}

{% block title %}Hello RechercheController!{% endblock %}

{% block body %}

<h1>Résultats de la recherche</h1>
<h2 class="my-4 "> Nous avons trouvé les Articles suivants pour vous :</h2>

        {% for article in articles %}
        <div>
            <h3>{{ article.title }}</h3>
        </div>
            <h5>{{ article.content }} </h5>
        <div>
            <a href="{{ path('app_article_show', {'id': article.id}) }}">Consulter le contenu de l'article</a>
        </div>
        {% else %}
            <div>
                Aucun articles trouvés
            </div>
        {% endfor %}
        

        {% for produit in produits %}
        <div>
            <h3>{{ produit.title }}</h3>
        </div>
            <h5>{{ produit.content }} </h5>
        <div>
            <a href="{{ path('app_produit_show', {'id': produit.id}) }}">Consulter le contenu du produit</a>
        </div> 
        {% else %}
            <div>
                Aucun produits trouvés
            </div>
        {% endfor %}

{% endblock %}
