{% extends 'base.html.twig' %}

{% block title %}Hello RechercheController!{% endblock %}

{% block body %}

<div>
    <form>
        <input type="search" name="search" placeholder="Tapez votre Recherche...">
        <button type="submit">Rechercher</button>
    </form>
</div>
<table>
{% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>
                    <a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
</table>
{# <table>
{% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.title }}</td>
                <td>{{ produit.content }}</td>
                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
</table> #}
{% endblock %}
